<div id="<%= dom_id customer %>">
  <p>
    <strong>Identificación:</strong>
    <%= customer.identification %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= customer.phone %>
  </p>

</div>
