<h1>Editar Producto</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Ver Este Producto", @product, class:'btn btn-success' %>
  <%= link_to "Regresar a lista de productos", products_path, class:'btn btn-primary' %>
</div>
